.getInTouch{
    padding-top:50px;

}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    label {
      display: block;
      width: 100%;
    }
  
    input,
    textarea {
      padding: 0.5rem;
      border: none;
      font-size: 1rem;
      width: 100%;
      background-color: $secondary-grey;
    }
  
    textarea {
      height: 8rem;
      width: 100%;
      margin-bottom: 30px;
    }

    textarea:focus, input:focus{
        border-color: $primary-cyan !important;
    } 

}

