.hero{
    background-image: url('../assets/images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 600px;
    max-width: 1071px;
    position: relative;
}

.heroDiv{
    position: absolute;
    bottom:0;
    left: 0;
    height: 357px;
    width: 445px;
    background-color: $secondary-white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: start;
    gap: 50px;
   
}

.about{
    display: flex;
    justify-content: left;
    gap: 100px;
    padding-top: 100px;
}



.avatar{
    min-height: 500px;
    width: 400px;
    margin-left:20px;
    margin-right:20px;
    background-image: url('../assets/images/profile.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.aboutContainer{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    max-width: 380px;

}

hr{
    width: 100%;
    border: 1px solid $secondary-grey;
}

.contactBanner{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
    h2{
        max-width: 350px;
    }
    hr{
        max-width: 534px;
    }
}

.mobile-hero{
    display: none;
}

//Tablet Styles 
@media (max-width: 1024px) {

    .heroDiv{
        height: 278px;
        max-width: 514px;
        gap: 30px;
        h1{
            font-size: 40px;
            line-height: 42px;
            letter-spacing: -0.357px;
        }
    }
    .aboutContainer, .avatar{
        max-width: 350px;
        flex: 1;
    }  
    .contactBanner{
        width: 80%;
        margin: auto;
        h2{
            max-width: 300px;
            font-size: 35px;

        }
   
    }
}

@media(max-width: 750px){
    .about{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        .aboutContainer, .avatar{
            max-width: 400px;
            min-height: 500px;
            flex: 1;
        }  
    }

}

@media (max-width: 500px) {
    .hero{
        display: none;
    
    }
    .mobile-hero{
        display: block;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: fit-content ;
        .heroImg{
            width: 100%;
        }
        .heroDiv{
            width: 100%;
            position: relative;
        }
    }

    .contactBanner{
        width: 100%;
        flex-direction: column;
        h2{
            max-width: 300px;
            font-size: 35px;
        }
        hr{
            display: none;
        }
   
    }
    
    
}