@mixin button_style{
    width: 200px;
    height: 48px;
    border: none;
    font-family: $ff-secondary

}

.primary-btn{
    @include button_style;
    background-color: $primary-blue;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    color: $secondary-white;
    .btnBox{
        width: 48px;
        height: 48px;
        position: absolute;
        left: 0;
        background-color: $primary-blue;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.primary-btn:hover{
    cursor: pointer;
    background-color: $primary-grey;
    .btnBox{
        background-color: $primary-grey;
    }
}


.secondary-btn{
    @include  button_style;
    background-color: $secondary-white;
    border: 1px solid $primary-grey;
}

.secondary-btn:hover{
    cursor: pointer;
    color: $secondary-white;
    background-color: $primary-grey;
}


