
.portfolio-item{
  display: flex;
  gap: 100px;
  align-items: center;
  padding-top: 50px;
  .imagePreview{
    flex:1;

  }
  .itemContainer{
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;

  }

}

.portfolio-item:nth-child(odd){
  flex-direction: row-reverse;
}

.banner{
  margin: auto;
  padding-bottom: 100px;
}

.columns{
  display: flex;
  justify-content: space-between;

}

.features{
  color: $primary-cyan;
  padding-bottom: 15px;
  font-weight: 500;
}

.leftColumn{
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 350px;
  padding-bottom: 100px;
}

.rightColumn{
  max-width: 635px;
  padding-bottom: 100px;
  h3, p{
    padding-bottom: 28px;
  }
}

.static{
  padding-bottom: 20px;
}
.contactBanner{
  margin-top: 100px;
}
@media(max-width: 1111px){
  .portfolio-item{
    gap:30px;
    padding:50px;
    h3{
      font-size: 25px;
    }
    .body-2{
      font-size: 12px;
      line-height: 20px;
    }
    .itemContainer{
      gap: 20px;
  
    }
  }
  .columns{
    flex-direction: column-reverse;
    align-items: center;
    .leftColumn{
      min-width: 60%;

    }
  }
  
}
@media(max-width: 820px){
  .portfolio-item, .portfolio-item:nth-child(odd){
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .itemContainer{
      justify-content: center;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .banner {
    padding-bottom: 50px;
  }

}


