

.banner{
  margin: auto;
  padding-bottom: 100px;
}

.columns{
  display: flex;
  justify-content: space-between;

}

.features{
  color: $primary-cyan;
}

.leftColumn{
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 350px;
  padding-bottom: 100px;
}

.rightColumn{
  width: 635px;
  padding-bottom: 100px;
  h3, p{
    padding-bottom: 28px;
  }
}

.static{
  padding-bottom: 20px;
}