$ff-primary: 'Ibarra Real Nova', serif;
$ff-secondary: 'Public Sans', sans-serif;
$body-bg: #FFFFFF;
    
$primary-cyan: #5FB4A2;
$primary-blue: #203A4c;
$primary-grey: #33323D;

$secondary-white: #FAFAFA;
$secondary-grey: #EAEAEB;
$secondary-red: #F43030;
